.dark nav {
    background-color: #800080;
}

.dark {
    background-color: #0d0912;
    color: white;
}

.dark a,
.dark button {
    color: white;
}


.dark .card {
    background-color: #525252;
    border: none;
    box-shadow: none;
}

.dark footer {
    background-color: #800080;
}

/* @media screen and (max-width: 768px) {
    .dark .form-container .form-info {
        border-right: none;
        border-bottom: 3px solid #0096FF;
    }
} */