.dark {
    background-color: #0d0912;
    color: white;
}

.dark nav {
    background-color: #800080;
}

.dark .btn-theme {
    background-color: white;
}

.dark a{
    color: white;
}

a:hover{
    color: rgb(136, 136, 136);
}

/* DETAILS */

.dark .back-btn > button {
    background-color: #800080;
    color: white
}

/* CONTACT */

.dark form > input {
    background-color: #0d0912;
    color: white;
    border: 1px solid #800080
}

.dark form > input::placeholder {
    color: rgb(194, 194, 194);
}

.dark form > button {
    background-color: #800080;
    color: white
}

/* CARDS and FAVS */

.dark .card {
    background-color: #525252;
    border: none;
}

.dark .removeAll-btn {
    background-color: #800080;
    color: white;
}

/* FOOTER */

.dark footer {
    background-color: #800080;
}
